	<div class="columns-container">
				<div id="columns" class="container">
											
		<!-- Breadcrumb -->
		<div class="breadcrumb clearfix">
			<a class="home" href="l-artiste-master/index.html" title="Return to Home"><i class="icon-home"></i></a>
					<span class="navigation-pipe">&gt;</span>
								Your Cart
					</div>
		<!-- /Breadcrumb -->

									<div id="slider_row" class="row">
									</div>
							<div class="row">
		<div id="center_column" class="center_column col-xs-12 col-sm-12">
			<h1 class="page-heading">Shopping Cart</h1>


			<!---->
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<form action="login.html" method="post" id="create-account_form" class="box">
						<h3 class="page-subheading">CHECK OUT YOUR CART... THEN CHECKOUT</h3>

						<button type="submit" id="SubmitLogin" name="SubmitLogin" class="button btn btn-default button-medium anothergray">
									<span>
										<i class="icon-money left"></i>
									CHECKOUT
							</span>
						</button>
					</form>
				</div>
			</div><!-- #center_column -->
		</div><!-- .row -->
	</div><!-- #columns -->
</div><!-- .columns-container -->
							